* {
    margin: 0px;
    padding: 0px;
}


.inicio-titulo {

    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px;
    margin-left: 500px;
    width: fit-content;
}

.seccion1-bienvenida {
    background-image: url(../Imagenes/patern1.png);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: fit-content;

}

.presentacion {
    background-color: rgba(0, 0, 0, 0.571);
    width: 100%;
    height: 100%;
}

.inicio-parrafo {
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    line-height: 30px;
    text-align: center;
    margin-bottom: 100px;
    padding: 1em;

}

@media(max-width:768px) {
    .inicio-parrafo {
        font-size: 16px;
    }
}


.seccion2-resumen {
    width: 100%;
    margin-top: 0px;
    background-color: black;
    height: fit-content;
    padding-top: 5px;
}

.seccion2-titulo {
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 3rem;
    border: white;
    border: solid;
    box-shadow: 0 0 20px white
}

.imagenesinicio-container {
    width: 280px;
    height: 280px;
    margin-bottom: 60px;
    transition: 1s;
}

.imagenesinicio:hover {
    transform: scale(1);
    border: white solid;
    box-shadow: 0 0 20px white;
}

.imagenesinicio {
    height: 90%;
    width: 100%;
    object-fit: cover;
}


.imagenesinicio_a {
    margin-right: 0px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}