
//-------Página Articulos------------------------


//-----Historia de la distorsion

@media(max-width:768px){
        .disto{
            display: none; }}



//Carrousel----------

@media(max-width:768px){
    .carousel-item img{
        height: 150px;}}
@media(max-width: 768px){
    .logo_marshall{
    display: none;
}}

@media (min-width: 768px){
    @include generarcolumnas('md');
}
@media (min-width: 1024px){
    @include generarcolumnas('lg');
}
@media (min-width: 1200px){
    @include generarcolumnas('xl');
}

//-----Página contanto
@media (max-width: 768px){
.contacto__redes{
    display: none;
}}
@media (max-width: 768px){
          .formulario__contenedor{
                  width: 100%;}
}



